@media (max-width: 412px) {

    body {
        background: #000;
    }

    .wrapper {

        border-radius: 0px;
        height: 100vh;

    }

    .top-bar {

        padding: 5px 15px;
    }

    .controls {
   
        width: 100%;
        margin: 40px 0 10px 0;
        padding: 10px;
    }
    
}

@media (max-width: 390px) {

    body {
        background: #000;
    }

    .wrapper {

        border-radius: 0px;
        padding: 15px 30px;

       
    }

    .controls {
   
        width: 100%;
        margin: 40px 0 10px 0;
        padding: 10px;
    }
    
}

@media (max-width: 375px) {

    body {
        background: black;
    }

    
.wrapper {

    
    

}

    
    .top-bar {

        padding: 5px 15px;
    }

}


@media (max-width: 320px) {

    body {
        background: black;
    }

    .top-bar span {

    
        font-size: 18px;
        color: var(--lightblack);
    
        font-family: 'Nautilus Pompilius';
    
        font-weight: bold;
        
    }
}